<app-navbar-empresa></app-navbar-empresa>
<div class="container p-0">
    <div class="row mb-2">
        <div class="col" style="color: #00D0D0;">
            <h1>Historial de alquileres</h1>
    </div>

    <div class="col-sm-5" style="color: #00B2FF;transform: translateY(1rem) translateX(-2rem);">
        <a class="card-title text-decoration-none" style="font-weight: bold; color: #00B2FF;" routerLink="/alquilerRealizado">Pedidos activos</a>       
    </div>
</div>

<div class="card text-center col-md-8 vh-80 my-auto mx-auto align-items-center rounded-0">
<div class="row align-items-center" style="margin: 1.5rem;">
    <div class="border col-12" style="width: 40rem;background-color: #C4C4C4;">
        <div class="row">
            <div class="col" style="background-color: #C4C4C4;">
                <h6 class="card-title">Adalina Campos Martinez</h6>
                <p class="card-text">28/04/2022 San Miguel</p>
            </div>
            <div class="col-sm-2 align-items-center text-center mx-auto my-auto" style="background-color: #C4C4C4;">
                <p class="text-center align-items-center mx-auto my-auto" style="font-size: 35px;"> <i class="bi bi-bicycle"></i>
            </div>
        </div>
    </div>
</div> 
<div class="row align-items-center" style="margin: 1.5rem;">
    <div class="border col-12" style="width: 40rem;background-color: #C4C4C4;">
        <div class="row">
            <div class="col" style="background-color: #C4C4C4;">
                <h6 class="card-title">Alexandra Valera</h6>
                <p class="card-text">25/04/2022 Pueblo Libre</p>
            </div>
            <div class="col-sm-2 align-items-center text-center mx-auto my-auto" style="background-color: #C4C4C4;">
                <p class="text-center align-items-center mx-auto my-auto" style="font-size: 35px;"> <i class="bi bi-bicycle "></i>
            </div>
        </div>
    </div>
</div> 
<div class="row align-items-center" style="margin: 1.5rem;">
    <div class="border col-12" style="width: 40rem;background-color: #C4C4C4;">
        <div class="row">
            <div class="col" style="background-color: #C4C4C4;">
                <h6 class="card-title">Marcos Perez Carrión</h6>
                <p class="card-text">31/03/2022 Jesús María</p>
            </div>
            <div class="col-sm-2 align-items-center text-center mx-auto my-auto" style="background-color: #C4C4C4;">
                <p class="text-center align-items-center mx-auto my-auto" style="font-size: 35px;"> <i class="bi bi-bicycle"></i>
            </div>
        </div>
    </div>
</div> 
<div class="row align-items-center" style="margin: 1.5rem;">
    <div class="border col-12" style="width: 40rem;background-color: #C4C4C4;">
        <div class="row">
            <div class="col" style="background-color: #C4C4C4;">
                <h6 class="card-title">Elizabeth Terrones Caso</h6>
                <p class="card-text">20/03/2022 San Miguel</p>
            </div>
            <div class="col-sm-2 align-items-center text-center mx-auto my-auto" style="background-color: #C4C4C4;">
                <p class="text-center align-items-center mx-auto my-auto" style="font-size: 35px;"> <i class="bi bi-bicycle"></i>
            </div>
        </div>
    </div>
</div> 
</div>