<body>
    
    <div class="logo">
        <img src = "./../../assets/imgs/Bikerent_logo.PNG">
    </div>

    <div class="titulo">
        <h1>Regístrate</h1>
    </div>

    <div class="subtitulo">
        <h4>Únete a esta aventura sobre ruedas</h4>
    </div>

    <p>BIKERENT, tu mejor opción de transporte</p>

    <div class="cajas">

        <div class="a">
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="floatingInput" placeholder="Nombre Completo">
                <label for="floatingInput">Nombre completo</label>
            </div>
        </div>

        <div class="a">
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="floatingInput" placeholder="DNI">
                <label for="floatingInput">DNI</label>
            </div>
        </div>

        <div class="a">
            <div class="form-floating mb-2">
                <input type="email" class="form-control" id="floatingInput" placeholder="Correo Electrónico">
                <label for="floatingInput">Correo Electrónico</label>
            </div>
        </div>

        <div class="a">
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="floatingInput" placeholder="Teléfono">
                <label for="floatingInput">Teléfono</label>
            </div>
        </div>

        <div class="a">
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="floatingInput" placeholder="DNI">
                <label for="floatingInput">DNI</label>
            </div>
        </div>

        <div class="a">
            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Contraseña</label>
            </div>
        </div>

        <div class="a">
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Confirmar contraseña</label>
            </div>
        </div>
    </div>

    <div class="tipo">
        <p>Tipos de cuenta</p>

        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Empresa</label>          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Cliente</label>
        </div>
    </div>

    <div class="boton" >
       <a href="CondicionesB.html"> <button type="button" class="btn btn-outline-info">REGISTRAR</button></a> 
    </div>
</body>
