    
<div class="logo">
    <img src = "./../../assets/imgs/Bikerent_logo.PNG">
</div>
<body>
    <div class = "bg">
        <p class="text-center">Regístrate</p>

        <p class="unete">Únete a esta aventura sobre ruedas</p>

        <p style="text-align: center">BIKERENT, tu mejor opción de transporte</p>

        <form [formGroup]="myForm" (ngSubmit)="verificarPasswords()" novalidate>

                <div class="a">
                    <div class="form-floating mb-4">
                        <input  formControlName = "NombreUsuario" type="text" class="form-control" id="NombreUsuario" placeholder="Nombre Completo">
                        <label for="floatingInput">Nombre de Usuario</label>
                        <div *ngIf="myForm.get('NombreUsuario')?.errors && myForm.get('NombreUsuario')?.touched">
                            <p class = "not_error" *ngIf="myForm.get('NombreUsuario')?.hasError('required')"> Este campo es obligatorio</p>
                            <p class = "not_error" *ngIf="myForm.get('NombreUsuario')?.hasError('minlength')"> Minimo de 5 caracteres</p>
                            <p class = "not_error" *ngIf="myForm.get('NombreUsuario')?.hasError('pattern')"> No se permiten caracteres especiales </p>
                        </div>
                    </div>
                </div>
        
                <div class="a">
                    <div class="form-floating mb-4">
                        <input formControlName = "email" type="email" class="form-control" id="email" placeholder="Correo Electrónico">
                        <label for="floatingInput">Correo Electrónico</label>
                        <div *ngIf="myForm.get('email')?.errors && myForm.get('email')?.touched">
                            <p class = "not_error" *ngIf="myForm.get('email')?.hasError('required')"> Este campo es obligatorio</p>
                            <p class = "not_error" *ngIf="myForm.get('email')?.hasError('email')"> No cumple con el formato valido </p>
                        </div>
                    </div>
                </div>
        
                <div class="a">
                    <div class="form-floating mb-4">
                        <input formControlName = "contrasenia" type="password" class="form-control" id="contrasenia" placeholder="Password">
                        <label for="floatingPassword">Contraseña</label>
                        <div *ngIf="myForm.get('contrasenia')?.errors && myForm.get('contrasenia')?.touched">
                            <p class = "not_error" *ngIf="myForm.get('contrasenia')?.hasError('required')"> Este campo es obligatorio</p>
                            <p class = "not_error" *ngIf="myForm.get('contrasenia')?.hasError('minlength')"> Minimo de 8 caracteres</p>
                        </div>
                    </div>
                </div>
        
                <div class="a">
                    <div class="form-floating mb-4">
                        <input formControlName = "confcont" type="password" class="form-control" id="confcont" placeholder="Password">
                        <label for="floatingPassword">Confirmar contraseña</label>
                        <div *ngIf="myForm.get('confcont')?.errors && myForm.get('confcont')?.touched">
                            <p class = "not_error" *ngIf="myForm.get('confcont')?.hasError('required')"> Este campo es obligatorio</p>
                            <p class = "not_error" *ngIf="myForm.get('confcont')?.hasError('minlength')"> Minimo de 8 caracteres</p>
                        </div>
                    </div>
                </div>    
        
            <div class="tipo">
                <p class="t">Tipos de cuenta</p>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked value="Cliente"  formControlName = "Cuenta">
                    <label class="btn btn-outline-primary" for="btnradio2" >Cliente</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"  value="Empresa" formControlName = "Cuenta">
                    <label class="btn btn-outline-primary" for="btnradio1" >Empresa</label> 
                </div>
            </div>
            <div id="msg"> 
                <!-- Mensajes de Verificación -->
                <div id="campos_vacios" class="alert alert-warning ocultar" role="alert">
                    Los campos están vacíos
                </div>
                <div id="error" class="alert alert-danger ocultar" role="alert">
                Las contraseñas no coinciden
                </div>
                <div id="ok" class="alert alert-info ocultar" role="alert">
                Las contraseñas coinciden
                </div>
                <!-- Fin Mensajes de Verificación -->
            </div>
            
            <button type="submit" id = "register" class="btn btn-outline-info" >REGISTRAR</button>   
        </form>
    </div>
</body>
