<app-navbar-empresa></app-navbar-empresa>
<p class = "title">Clientes Premium</p>
<div class = "clientes-premium">
    <div>
        <p class = "sub-title">Afiliados en Junio</p>
        <div class = "afiliados border border-dark">
            <div class="row">
                <div class="bg-color border col-12">
                    <div class="row">
                        <div class="col">
                            <h6>Alexandra Valera</h6>
                            <p>San Miguel</p>
                        </div>                    
                        <div class="col-sm-2">
                            <i class="bi bi-bicycle"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="bg-color border col-12">
                    <div class="row">
                        <div class="col">
                            <h6>Luis Antonio García</h6>
                            <p>Jesús María</p>
                        </div>                    
                        <div class="col-sm-2">
                            <i class="bi bi-bicycle"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="bg-color border col-12">
                    <div class="row">
                        <div class="col">
                            <h6>Alvaro Tomás Gutierrez</h6>
                            <p>La Victoria</p>
                        </div>                    
                        <div class="col-sm-2">
                            <i class="bi bi-bicycle"></i>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
    <div>
        <p class = "sub-title">Afiliados en Febrero</p>
        <div class = "afiliados border border-dark">
            <div class="row">
                <div class="bg-color border col-12">
                    <div class="row">
                        <div class="col">
                            <h6>Carlos Parra Montes</h6>
                            <p>Pueblo libre</p>
                        </div>
                        <div class="col-sm-2">
                            <i class="bi bi-bicycle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>