<div class="content-login">
    <div class="logo">
            <img src = "./../../assets/imgs/Bikerent_logo.PNG">
        </div>

        <div class="titulo">
            <h1>Iniciar sesión</h1>
        </div>

        <form class = "cardlogin" onsubmit = "ValidarCampos(); return false">
            <div class="cajas">
                <div class="a">
                    <div class="mb-4">
                        <label for="formGroupExampleInput" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="NameUser" placeholder="  nombre@ejemplo.com">
                    </div>
                </div>

                <div class="a">
                    <div class="mb-4">
                        <label for="formGroupExampleInput2" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="pwd" placeholder="  · · · · · · · · · ·">
                    </div>
                </div>
            </div>
            <div id="msg"> 
                <!-- Mensajes de Verificación -->
                <div id="campos_vacios" class="alert alert-warning ocultar" role="alert">
                    Los campos están vacíos !!
                </div>        
                <!-- Fin Mensajes de Verificación -->
            </div>
            <div class="boton" >
            <a href="#"><button type="submit" class="btn btn-outline-info">Iniciar Sesión</button></a> 
            </div>
        </form>

        <p>O utiliza tu perfil de alguna red social</p>

        <div class="tipo">
        <a href="#"> <button type="button" class="btn btn-outline-info" style="margin-right: 25px">Gmail</button></a>
        <a href="#"> <button type="button" class="btn btn-outline-info" style="margin-left: 25px">Facebook</button></a>
        </div>


        <p class="text-muted">
            <a href="#" class="text-reset" style="margin-right: 25px" >¿Olvidaste tu contraseña?</a>
            <a href="#" class="text-reset"style="font-weight: bold; margin-left: 25px" routerLink="/Registrate">Registrate</a>
        </p>
</div>