<div class ="datos">
    <figure>
        <img src ="../../imgs/usuario_cliente.jpg" class = "imgperfil">
        <figcaption>  Alexandra Valera </figcaption>
    </figure>    
        <p style = "font-weight: bold"> Pendiente</p>       
        <p> Solicitud de alquiler: Montañera</p>
        <p> Localización: San Miguel</p>
        <p> Tiempo de alquiler: 4 horas</p>
        <br>

    <button type="button" class="btn btn-outline-info"> Aceptar solicitud </button>
    <button mat-raised-button>Basic</button>
</div>