<div class="card text-center col-md-6 rounded-3 vh-80 my-auto mx-auto">
    <div class="card-header" style="background-color: #8B8B8B";>
        Confirmar información
    </div>
    <div class="card-header">
        <div class="controlc"><input class="form-control form-control-lg" type="text" placeholder="Nombre Completo" aria-label=".form-control-sm example"></div>
        <div class="controlc"><input class="form-control form-control-lg" type="text" placeholder="Correo electrónico" aria-label=".form-control-sm example"></div>
            <div class="controlc"><input class="form-control form-control-lg" type="text" placeholder="Teléfono" aria-label=".form-control-sm example"></div>
                <div class="controlc"><input class="form-control form-control-lg" type="text" placeholder="Dirección" aria-label=".form-control-sm example"></div>
                    <div class="controlc"><input class="form-control form-control-lg" type="text" placeholder="Número de identificación" aria-label=".form-control-sm example"></div>
        <h6>
            <div><a href="#" class="btn">Afiliar tarjeta</a></div>

            <a href="#" class="btn1">Aceptar</a></h6>
    </div>
</div>