.nav-color {
    background-color: #8B8B8B;
}
.barra-navegacion {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.img-perfil {
    background-image: url(../img/usuario_cliente.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.icon-bg {
    color:black;
    padding: 2px 5px;
    background-color: white;
    border-radius: 50%;
}

.button-navegacion {
    border-bottom: 1.75px solid transparent;
}

.button-navegacion:hover {
    border-bottom: 1.75px solid currentColor;
}

.nav-icons {
    font-size: 23px;
}


